.statbox{
    height: 500px;
    overflow:scroll;
    width:10%;
    border:solid 3px pink;
}

.flexbox{
    display:flex;
    justify-content:space-around;
}

#gameboard{
    max-height: 600px;
    overflow: scroll;
}

.guessbutton{
    padding: 100px;
}
