<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/mastermind.css">
</head>
<body>
<div class="gameboard">
    <div>
        {% if game.code %}
        <h1>Code : {{ game.code }} </h1>
        {% endif %}
    </div>
    <div>
    {% for result in game.guesses %}
        {{ reu }}
        <h1>Guess: {{ game.guesses[loop.index-1] }}</h1>
        <h1>Result:
        {% for number in game.guess_results[loop.index-1] %}
                    {% if number == 1 %}
                        X
                    {% elif number == 2  %}
                        @
                    {% else %}
                        O
                    {% endif %}
                {% endfor %}
    {% endfor %}
        </h1>
    <br>
        {#{% for guess in game.guesses %}
            <h1>Guess : {{ guess }}</h1>
        {% endfor %}#}
    </div>
    <form method="post" action="game">
        {{ form.hidden_tag() }}
        <div>
            {{ form.guess.label }}
            {{ form.guess()}}
            {{ form.submit() }}
        </div>
    </form>
    <ul>
        {% for error in form.guess.errors%}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>





<div class="flexbox">
    <div class="statbox">
    {% for stat in stats  %}
        Date played: {{ stat[0] }} <br>
        Turns taken: {{ stat[1] }}<br>
        <br>
    {% endfor %}
    </div>
</div>


</body>
</html>